<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui.css"/>
    <link rel="stylesheet" href="/css/weuix.css"/>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
</head>

<body ontouchstart>
<div class="weui-header bg-blue"> 
   <h1 class="weui-header-title"><b>文件验证&nbsp;&nbsp;&nbsp;</b></h1>
</div>
文件编码：<a th:text="#{data.documentCode}">[[${data.documentCode}]]</a>
<div class="page-hd">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>编码</p>
            </div>
            <div class="weui-cell__ft">T-OP-PF-0-HED-001</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>版本状态</p>
            </div>
            <div class="weui-cell__ft">过期</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>版本</p>
            </div>
            <div class="weui-cell__ft">A1</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>版本日期</p>
            </div>
            <div class="weui-cell__ft">2018-07-23</div>
        </div>
    </div>
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon_msg weui-icon-error-ts"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title"><b>您扫描的文件是无效文件</b></h2>
    </div>
</div><br>
<div class="weui-footer weui-footer_fixed-bottom">
    <a href="javascript:;" class="weui-btn weui-btn_ts"><b><span class="icon icon-86"></span>扫一扫</b></a>
</div>
</body>
</html>